
.brown{
	padding: 2rem;
	margin-left: auto;
	margin-right: auto;
	width: 30rem;
	background-color: #fce8c4;
	border: 2rem solid #fce8c4;
	border-radius: 2rem;
}

.wideBrown{
	padding: 2rem;
	margin-left: auto;
	margin-right: auto;
	width: 55rem;
	background-color: #fce8c4;
	border: 2rem solid #fce8c4;
	border-radius: 2rem;
}

.fancyFont {
	font-family: 'Josefin Slab', serif;
}

.subtleFont {
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: #441e04;
}

.playButton{
	position:relative;
}

.playButtonText{
	position:absolute;
	bottom: 0;
	width: 100%;
	text-align:center;
	padding-bottom: 6rem;
	
}

.centeredImg{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.centeredText {
	text-align: center;
}

.centeredLeftTextSmall{
	margin-left:auto;
	margin-right:auto;
	width: 9rem;
}

.mediumFont {
	font-size: 2em;
}

.smallfont {
	font-size: 1em;
}

.rounded{
	border-radius: 50%;
}

.brownBorder{
	border: 0.5em solid #441e04;
	background-color: #441e04;
}

a{
	color: #441e04;
	text-decoration: none;
}

a:hover{
	color: #db842e;
	text-decoration: underline;
}

.whiteLink{
	color: #ffffff;
}

.whiteLink:hover{
	color: #c9feff;
	text-decoration: none;
}

.knob{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	background-color: black;
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	color: gray;
	text-align: center;
	line-height: 4rem;
}
.floatLeft{
	float: left;
}
.floatRight{
	margin-right: 2rem;
	float: right;
}

.rotateSome{
	transform: rotate(340deg);
}

.rotateAlot{
	transform: rotate(230deg);
}
